    body {
        min-height: max(884px, 100dvh);
    }


    input[type=range] {
        -webkit-appearance: none;
        background: transparent;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
        margin-top: -10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: #366348;
        border-radius: 2px;
    }

    /* Firefox */
    input[type=range]::-moz-range-thumb {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border: none;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: #366348;
        border-radius: 2px;
    }